$darkPurple: #614b65;
$purple: #9a7aa0;
$white: #ffffff;
$grey: #5c5762;
$lilac: #8d94ba;
$lightGrey: #c4c4c4;
$violet: #542d84;
$blue: #749497;
$lightGreen: #b4edd2;
$red: #ffa4a4;
$darkViolet: #4e3b52;
$black: #302e2b;
$hoverGrey: #f1f1f1;
